@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Diagramm", sans-serif;
  font-weight: normal;
  color: $primary-text-color;
}

h1,
h2 {
  font-weight: bold;
}

img {
  filter: contrast(1.1);
}

.btn {
  height: 100%;
  cursor: pointer;
  g path:nth-child(1),
  g path:nth-child(2) {
    transition: $transition;
  }
  &:hover {
    g path:nth-child(1),
    g path:nth-child(2) {
      fill: $violet-color;
    }
  }
}

//MODAL
.popup-overlay {
  overflow-y: scroll;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}
.popup-content {
  width: calc(100vw - 30px);
  height: fit-content !important;
  margin: 4% auto 4% auto !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  @media (min-width: $tablet) {
    width: calc(100vw - 120px);
  }
}
